* {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1rem;
}

main {
    position: absolute;
    background-color: whitesmoke;
    width: 800px;
    height: 90vh;
    border: 1px solid #3333;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #3333;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Link button*/
.link-button {
    display: block;
    border: 1px solid #3333;
    background-color: azure;
    height: 30px;
    line-height: 30px;
    padding: 0.3rem;
    box-shadow: 1px 1px 5px #3333;
    text-decoration: none;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 250px;
    text-align: center;
    color: #2e333f;
    border-radius: 5px;
    font-family: sans-serif;
    text-transform: uppercase;
    margin: 1rem;
}

.box1 {
    margin: 2rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
}

/* Ej 13 */
table {
    box-shadow: 1px 1px 5px #3333;
    background-color: #F4E9E9;
}

table,
td {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

#eventParr p {
    background-color: #fdfdfd;
    padding: 10px;
    font-size: large;
    user-select: none;
}

#display {
    opacity: 0;
    transition: opacity 0.3s;
}

/* 14 Calculadora */

#calculadora-container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    height: 550px;
    background-color: hsl(182, 20%, 80%);
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    column-gap: 10px;
    row-gap: 15px;
    padding: 10px;
    box-shadow: 1px 1px 3px #3333;
    user-select: none;
}

#calc-display {
    display: flex;
    background-color: #111;
    color: white;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 5px;
    text-align: right;
    font-size: 2.2rem;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
}

.calc-btn {
    display: flex;
    color: white;
    background-color: #199FA3;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #3339;
    font-size: 2rem;
    cursor: default;
    transition: filter 0.15s;
    
}

.calc-btn:hover {
    filter: brightness(120%);
}

#calc-7 {
    grid-column: 1/2;
    grid-row: 2/3;
}

#calc-8 {
    grid-column: 2/3;
    grid-row: 2/3;
}

#calc-9 {
    grid-column: 3/4;
    grid-row: 2/3;
}

#calc-4 {
    grid-column: 1/2;
    grid-row: 3/4;
}

#calc-5 {
    grid-column: 2/3;
    grid-row: 3/4;
}

#calc-6 {
    grid-column: 3/4;
    grid-row: 3/4;
}

#calc-1 {
    grid-column: 1/2;
    grid-row: 4/5;
}

#calc-2 {
    grid-column: 2/3;
    grid-row: 4/5;
}

#calc-3 {
    grid-column: 3/4;
    grid-row: 4/5;
}

#calc-0 {
    grid-column: 1/2;
    grid-row: 5/6;
}

#calc-punto {
    grid-column: 2/3;
    grid-row: 5/6;
}

#calc-c {
    grid-column: 3/4;
    grid-row: 5/6;
}

#calc-plus {
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: #F059BE;
}

#calc-minus {
    grid-column: 4/ span 1;
    grid-row: 3/ span 1;
    background-color: #F059BE;
}

#calc-multiplicar {
    grid-column: 4/ span 1;
    grid-row: 4/5;
    background-color: #F059BE;
}

#calc-igual {
    grid-column: 4/ span 1;
    grid-row: 5/6;
    background-color: #F0D229;
    color: #111;
}